@import url(/assets/css/nav.css);
@import url(/assets/css/main.css);
@import url(/assets/css/grid.css);
@import url(/assets/css/new_products.css);
@import url(/assets/css/popular_products.css);
@import url(/assets/css/partners.css);
@import url(/assets/css/footer.css);
@import url(/assets/css/product_page.css);

:root {
	--font-poppins: "Poppins", sans-serif;

	--color-primary: #333333;
	--color-secondary: #f3f3f3;
	--color-accent: #fed2d1;
	--color-text: #5a5a5a;
	--color-hover: #8b3d74;
	--color-background: #ffffff;
	--color-highlight: #ec26b1;

	--bg-main: #ffedf6;
	--bg-search-box-input: transparent;
	--bg-grid-box1: #dffbe2;
	--bg-grid-box2: #fbeae3;
	--bg-grid-box3: #faf4e4;
	--bg-product-heading: #f5f5f5;
	--bg-footer-social: var(--color-background);
	--bg-subscribe-input: transparent;
	--bg-subscribe-btn: #000000;

	--border-footer: #e9e9e9;
	--border-product-heading: rgb(236, 236, 236);

	--footer-link: #797979;
	--footer-link-hover: #0f0f0f;

	--text-footer-company: var(--color-primary);
	--text-footer: #585858;
	--text-footer-bottom: #252525;

	--text-subscribe-btn: #ffffff;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: var(--font-poppins);
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

/*==making-responsive==============================*/
@media (max-width: 1200px) {
	.footer-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;
	}
}
@media (max-width: 1100px) {
	.product-grid-3 {
		grid-template-columns: 1fr 1fr;
	}
	.new-product-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
@media (max-width: 1000px) {
	.product-grid-half {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 200px;
		max-height: 100%;
	}
	.product-grid-half .product-grid-box2 {
		grid-column: 1/3;
		grid-row: 1/2;
		height: 300px;
	}
}
@media (max-width: 900px) {
	#main {
		display: flex;
		flex-direction: column-reverse;
	}
	.main-text {
		margin-top: 40px;
		margin-bottom: 10px;
	}
	.popular-container {
		grid-template-columns: 1fr 1fr;
	}
	.logo-container {
		margin-top: 20px;
		justify-content: flex-start;
	}
	.logo-container img {
		height: 40px;
	}
}
@media (max-width: 760px) {
	.navigation {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.search-box {
		grid-row: 2/3;
		grid-column: 1/3;
		width: 100%;
		border-radius: 4px;
		margin-top: 10px;
	}
	.nav-btns {
		margin-left: auto;
	}
	.logo {
		height: 40px;
	}
	#main {
		padding: 20px;
	}
	.main-text h1 {
		font-size: 1.8rem;
	}
	.new-p-heading h3,
	.popular-heading h3,
	.partner-heading h3 {
		font-size: 1.2rem;
	}
	.product-grid-3 {
		grid-template-columns: 1fr;
	}
	.new-product-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.product-grid-half {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-auto-rows: auto;
	}
	.product-grid-half .product-grid-box2 {
		grid-column: 1/2;
		height: auto;
	}
	.product-grid-half .product-grid-box2 .product-grid-text strong {
		font-size: 1.2rem;
	}
	.product-grid-2 {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 620px) {
	.new-p-heading {
		flex-direction: column;
	}
	.new-p-heading ul {
		margin-top: 10px;
	}
	.new-product-container {
		grid-template-columns: 1fr 1fr;
	}
	.popular-container {
		grid-template-columns: 1fr;
	}
	.product-grid-box {
		padding: 20px 20px 0px 20px;
	}
	.product-grid-box img {
		height: 90%;
		width: 70%;
		object-position: bottom right;
		margin-top: auto;
		object-fit: contain;
	}
	.product-grid-half .product-grid-box2 .product-grid-text strong {
		max-width: 120px;
		font-size: 1rem;
		line-height: 1.2rem;
	}
	.footer-container {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 320px) {
	.new-product-container {
		grid-template-columns: 1fr;
	}
}
